<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>minejerik | {% block title %} {% endblock %}</title>
  <meta name="description" content="{% block description %} {% endblock %}">
  <meta name="robots" content="follow, index">
  <meta name="keywords" content="{% block keywords %} {% endblock %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Minejerik">

  <!-- CSS -->
  <!-- <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css"> -->
  <link rel="stylesheet" href="/static/hack.css">
  <link rel="stylesheet" href="/static/dark-grey.css">
  <!-- GOATCOUNTER/ANALYTICS -->
  <script data-goatcounter="https://minejerik.goatcounter.com/count"
        async src="/static/count.js"></script>

  <style>
    img {
      width: 100%;
    }
  </style>
</head>
<body style="overflow-x: hidden;" class="hack dark-grey">
    <div class="main container">
      <br>
      <header style="margin: auto; text-align: center;">
        <nav>
          <a href="/">Home</a>
          <a>Minejerik</a>
          <a href="/blog">Blog</a>
        </nav>
      </header>
      <br>
      <!-- START CONTENT -->
      {% block content %}

      {% endblock %}
      <!-- END CONTENT -->
    </div>
</body>
</html>