<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>minejerik | blog</title>
  <link rel="stylesheet" href="{{url_for('static',filename='chota.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
  <script data-goatcounter="https://minejerik.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
</head>
<body style="overflow-x: hidden;" class="dark">
  <div class="row">
    <div class="col-2"></div>
    <div class="col">

      <nav class="nav">

        <div class="nav-left">
          <div class="tabs">
            <a href="/">Home</a>
          </div>
        </div>

        <div class="nav-center">
          <a class="brand" href="#">Minejerik</a>
        </div>

        <div class="nav-right">
          <div class="tabs">
            <a href="/blog" class="active">Blog</a>
          </div>
        </div>

      </nav>

      <br>

      <div class="cards">
      {% for post in posts %}
        <!-- <div class="post">
          <a class="temp" href="/blog/{{id}}">
            {{title}}<br>
            {{date}}
          </a>
        </div> -->
      <div class="card">
        <h5 class="card-header">
          <a href="/blog/{{post['id']}}" class="contrast" style="text-decoration:none" >{{post['title']}}</a>
        </h5>
        <p class="card-body">
          {{post['date']}} 
          {% if post['source'] != 'NONE' %}
            - <a href="{{post['source']}}" class="contrast" style="text-decoration:none">Source</a> 
          {% endif %}
        </p>
      </div>
      <br>
      {% endfor %}
    </div>
    </div>
    <div class="col-2"></div>
  </div>
</body>
</html>
