<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>minejerik | {{title}}</title>
  <link rel="stylesheet" href="{{url_for('static',filename='chota.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
  <script data-goatcounter="https://minejerik.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
</head>
<body style="overflow-x: hidden;" class="dark">
  <div class="row">
    <div class="col-3"></div>
    <div class="col">
      
      <nav class="nav">

        <div class="nav-left">
          <div class="tabs">
            <a href="/">Home</a>
          </div>
        </div>

        <div class="nav-center">
          <a class="brand" href="#">Minejerik</a>
        </div>

        <div class="nav-right">
          <div class="tabs">
            <a href="/blog">Blog</a>
          </div>
        </div>
        
      </nav>

      <hgroup>
        <h3>{{title}}</h3>
        <h5>{{date}} - {{read_time}} Minute{{read_time|pluralize}} {% if source != "NONE" %} - <a href="{{source}}">Source</a> {% endif %} </h5>
      </hgroup>
      {{content | safe}}
    </div>
    <div class="col-3"></div>
  </div>
</body>
</html>
