<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>minejerik | blog</title>
  <link rel="stylesheet" href="{{url_for('static',filename='pico.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='pico_style.css')}}"> 
</head>
<body>
  <div class="grid">
    <div></div>
    <div>
      <nav>
        <ul>
          <li><strong>Minejerik</strong></li>
        </ul>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/blog">Blog</a></li>
        </ul>
      </nav>
      {% for i in range(posts | length) %}
        {% set source = sources[i] %}
        {% set title = titles[i] %}
        {% set content = contents[i] %}
        {% set id = ids[i] %}
        {% set date = dates[i] %}
        <!-- <div class="post">
          <a class="temp" href="/blog/{{id}}">
            {{title}}<br>
            {{date}}
          </a>
        </div> -->
      <article>
        <header><a href="/blog/{{id}}" class="contrast" style="text-decoration:none" >{{title}}</a></header>
          
        {{date}} - <a href="{{source}}" class="contrast" style="text-decoration:none">Source</a>
      </article>
      {% endfor %}
    </div>
    <div></div>
  </div>
</body>
</html>