<html>
  <head>
    <title>minejerik | {{ran_title}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
  </head>
  <body>
    <div style="font-size:75px; color:#536733">Minejerik</div>
    <a href="/blog">blog.</a><br>
    <a href="/about">about.</a><br>
    <a href="https://github.com/Minejerik">github.</a>
  </body>  
</html>